* 
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: sans-serif;
}

h4
{
	text-transform: uppercase;
}

#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
	border-bottom: #E7113E 5px solid;
}

.navbar
{
	background-image: linear-gradient(to left, #e8491d,#E76F11);
	padding: 0 !important;
}

.navbar-brand img
{
	height: 40px;
	padding-left: 20px;
}

.navbar-nav li
{
	padding: 0 10px;
}

.navbar-nav a
{
	color:  #e8491d;
	font-weight: 600;
	float: right;
	text-align: right; 
	padding: 10px;	
}

 .navbar-toggler
 {
 	outline: none;
 }


 /* banner */ 

 #banner 
 {
 	background-image: white;
 	color: #E7113E;
 	padding-top: 5%;
 	padding: 20px;
 }

.promo-title
{
	font-size: 40px;
	font-weight: 300;
	margin-top: 45px;
}


.btn-explore
{
	color: #E7113E;
	padding: 8px 24px;
	border: 3px solid #E7113E;
	transition: 0.4s;
	display: inline-block;
	cursor: pointer;
	background: white;
	border-radius: 32px;
	text-decoration: none;
}

.btn-readmore:hover
{
	background: #E7113E;
	text-decoration: none;
	padding: 8px 64px;
	color: #E7113E;
	outline: none;
}

.col-md-6 img
{
	margin-top: 0px;
}

.bottom-img
{
	width: 100%; 
}


#services
{ 
	padding: 80px 0;
}

.service-img
{
	width: 100px;
	margin-top: 10px;
}


section .services #container #row #col-md-3
{
	box-sizing: border-box;
	border-radius: 8px;
	box-shadow: 0 0 20px #000000b3;
}

.services
{
	padding: 20px;
}


.title
{
	color:  #E7113E;
}

.title::before
{
	content: '';
	background: #E7113E;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}

.title::after
{
	content: '';
	background: #E7113E;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}

#services .btn-primary 
{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 20px;
	background-image: linear-gradient(to left, #e8491d,#E76F11);
}





#about-us
{
	padding-bottom: 50px;
	padding-top: 50px;
}

.about-title
{
	margin-left: 10px;
	font-size: 40px;
	font-weight: 600;
	margin-top: 8%;
	color:  #E7113E;
}

#about-us ul
{
	margin-left: 20px;
}
#about-us ul li
{
	margin: 10px 0;
}

.vision
{
	color: #E7113E;
	font-size: 20px;
}




#testimonials
{
	padding-bottom: 50px;
	padding-top: 50px;
}

.testimonials
{
	border-left: 4px solid #E76F11;
	margin-top: 50px;
	margin-bottom: 50px;
}

.testimonials img
{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 0 10px;
}

.user-details
{
	display: inline-block;
	font-size: 12px;
}




#social-media
{
	padding: 100px 0;
}

#social-media p
{
	font-size: 36px;
	font-size: 600;
	color: #E7113E;
	margin-bottom: 30px;
}

.social-icons img
{
	width: 40px;
	height: 40px;
	transition: 0.5s
}

.social-icons a:hover img
{
	transform: translateY(-10px);
}






#footer
{
	background:linear-gradient(to left, #e8491d,#E76F11);
	color: #fff; 
}

.footer-box
{
	padding: 20px;
}

.footer-box img
{
	width: 120px;
	margin-bottom: 20px;
}

.footer-box .fa
{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background:linear-gradient(to left, #e8491d,#E76F11);
}

.footer-box .form-contr0l
{
	box-shadow: none;
	border: none;
	margin-top: 25px;
	max-width: 250px;
}

.footer-box .btn-primary
{
	box-shadow: none;
	border: none;
	margin-top: 30px;
	border-radius: 0;
	background:linear-gradient(to left, #e8491d,#E76F11);
}


hr
{
	background: #fff;
}

.copyright
{
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}